<div class="container">
  <h3>{{question.question}}</h3>
  <input type="text" id="narrative-answer" class="form-control my-2">
  <button class="btn btn-success submit-narrative">Submit</button>
</div>
