<div class="container">
  <h3>{{question}}</h3>
  <div class="row">
    {{#each choices}}
      <div class="col-md-6">
        <img src="{{img}}" class="img-fluid img-choice" data-answer="{{label}}">
      </div>
    {{/each}}
  </div>
</div>
