<div class="container text-center">
  <h2>Congratulations {{name}}!</h2>
  <p>You scored {{score}} out of {{total}}</p>
  <p>{{resultMessage}}</p>
 <button id="restart-btn" class="btn btn-primary">Retake Quiz</button>


</div>
