<div class="container text-center">
  <h2>WebDev Quiz </h2>
  <form id="start-form">
    <input type="text" class="form-control my-3" placeholder="Enter your name" id="student-name" required>
    <button class="btn btn-primary">Start Quiz</button>
  </form>
</div>
